.list-container {
	display: flex;
	justify-content: space-around;
	background-color: #5e8c70;
	max-width: 700px;
	min-width: 700px;
	border: 0px solid;
	border-radius: 20px 10px 0px 0px;
	padding: 10px;
	align-items: center;
	color: white;
}

.tasks-container {
	display: flex;
	flex-direction: column;
	background-color: #eeef67;
	max-width: 700px;
	min-width: 700px;
	border: 0px solid;
	border-radius: 0px 0px 20px 0px;
	padding: 10px;
}

button {
	padding: 15px;
	border: 0px solid;
	background-color: #518264;
	color: white;
	border-radius: 20px;
}